body {
  background-color: #f8e8a6;
}

h1,
p {
  text-align: center;
}

.links {
  text-align: center;
}

.links a {
  padding: 20px;
  color: green;
}

.croissant-photo {
  display: block;
  margin: 0 auto;
  max-width: 500px;
  border-radius: 8px;
  margin-bottom: 25px;
}
